<form action="/user/register" method="post">
  
  <input type="text" name="name" placeholder="Name">
  <br>

  <input type="text" name="username" value="" placeholder="Username">
  <br>

  <input type="password" name="password" value="" placeholder="Password">
  <br>

  <input type="submit" value="Sign Up"><input type="reset" value="Reset">
</form>